name: Docker Image CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    # - name: Build the Docker image
    #   run: docker build . --file v2ray/Dockerfile --tag junxy/v2ray:latest
    - name: Set env
      run: echo ::set-env name=GITHUB_SHA_SHORT::$(echo $GITHUB_SHA | cut -c 1-6)
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@master
      env:
        VCS_REF: ${env.GITHUB_SHA_SHORT}
        VCS_REF2: $(echo "${env.GITHUB_SHA}" | cut -c1-6)
      with:
        name: junxy/docker-ray/v2ray
        username: junxy
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: docker.pkg.github.com
        workdir: v2ray/
        buildargs: VCS_REF,VCS_REF2
